<article>
  <nav>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-custom'">Custom</a>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-header'">Header</a>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-footer'">Footer</a>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-base'">Base</a>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-menu'">Menu</a>
    <a mat-button routerLinkActive="mat-primary" [routerLink]="'site-campus'">Campus</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

</article>
