<mat-form-field appearance="fill">
  <mat-label>{{placeHolder}}</mat-label>
  <mat-select [(ngModel)]="domainName" (valueChange)="onChanged($event)">
    <mat-option [value]="null">Default</mat-option>
    <mat-optgroup label="CAMPUS">
      <mat-option [value]="'campus.tacitdev.ca'">campus.tacitdev.ca</mat-option>
      <mat-option [value]="'deutschebank.tacitdev.ca'">deutschebank.tacitdev.ca</mat-option>
      <mat-option [value]="'foodworks.tacitdev.ca'">foodworks.tacitdev.ca</mat-option>
      <mat-option [value]="'metlife.tacitdev.ca'">metlife.tacitdev.ca</mat-option>
    </mat-optgroup>
    <mat-optgroup label="White-labels">
      <mat-option [value]="'whitelabel.tacitdev.ca'">whitelabel.tacitdev.ca</mat-option>
      <mat-option [value]="'kimchi.tacitdev.ca'">kimchi.tacitdev.ca</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
