:host {  
  >header {
    width: 100%;
    background: #F1F1F1;
    position: fixed;
    display: flex;
    align-self: center;
    padding: 12px;
    top: 0;
    z-index: 99;
  }

  >article {
    padding: 80px 12px;
  }

  .mat-accordion {
    .mat-expansion-panel {
      margin: 16px 0;
    }
  }
}