<header>
  <button mat-button (click)="send()">Get Variables</button>
  <button mat-button (click)="export()">Export</button>
  <button mat-button (click)="reset()">Reset</button>
  <select-template [templateName]="templateName$ | async"
                   (eventSelectTemplate)="templateSelected($event)"></select-template>
</header>
<article>
  <app-colors-group *ngIf="colors$ | async as colors" [colors]="colors"></app-colors-group>
  <app-css-group *ngFor="let cssGroup of cssGroups$ | async | keyvalue"
                 [cssGroup]="cssGroup.value"
                 (eventUpdate)="onChanged($event)">
  </app-css-group>
</article>
