<article>
  <header>
    <h2>Colors</h2>
<!--    <select-template [templateName]="templatesService.templateName$ | async"-->
<!--                     (eventSelectTemplate)="selectTemplate($event)">-->
<!--    </select-template>-->
  </header>

  <section>

    <ul>
      <li *ngFor='let color of ((queryService.list$ | async)!.list| keyvalue); trackBy: trackBy'>
        <mat-form-field color="primary" appearance="fill">
          <mat-label>{{color.key}}</mat-label>
          <input matInput [(ngModel)]="color.value" (change)="onChanged(color)" [name]="color.key">
          <mat-hint *ngIf="color.value" [style]="{'background-color': color.value}">
            <span style="color: #000">Black example.</span>
            <span style="color: #fff">White example.</span>
          </mat-hint>
        </mat-form-field>
      </li>
    </ul>

  </section>
</article>
