<mat-form-field appearance="fill">
  <mat-label>{{placeHolder}}</mat-label>
  <mat-select [(ngModel)]="templateName" (valueChange)="onChanged($event)">
    <mat-option [value]="null">Default</mat-option>
    <mat-optgroup *ngIf="!filter" label="CAMPUS">
      <mat-option *ngIf="!filter" [value]="'empty'">Empty</mat-option>
      <mat-option *ngIf="!filter" [value]="'dark'">Dark</mat-option>
      <mat-option *ngIf="!filter" [value]="'campus'">Campus</mat-option>
      <mat-option *ngIf="!filter" [value]="'canadinns'">Canadinns</mat-option>
      <mat-option *ngIf="!filter" [value]="'png'">PNG</mat-option>
      <mat-option *ngIf="!filter" [value]="'lmi'">LMI</mat-option>
      <mat-option *ngIf="!filter" [value]="'risingstarcasino'">Rising Star Casino</mat-option>
      <mat-option *ngIf="!filter" [value]="'kernels'">Kernels</mat-option>
      <mat-option *ngIf="!filter" [value]="'pita-pit'">PitaPit</mat-option>
      <mat-option *ngIf="!filter" [value]="'tempe-eats'">Tempe eats</mat-option>
      <mat-option *ngIf="!filter" [value]="'aramark'">Aramark</mat-option>
      <mat-option *ngIf="!filter" [value]="'intuit'">Intuit</mat-option>
      <mat-option *ngIf="!filter" [value]="'instaeat'">Instaeat</mat-option>
      <mat-option *ngIf="!filter" [value]="'freshii'">Freshii</mat-option>
      <mat-option *ngIf="!filter" [value]="'vieetnam'">Vie & Nam</mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="!filter" label="White-labels">
      <mat-option *ngIf="!filter" [value]="'white-labels'">white labels</mat-option>
      <mat-option *ngIf="!filter" [value]="'charlestons'">Charlestons</mat-option>
    </mat-optgroup>

    <mat-optgroup label="HEADER">
      <mat-option [value]="'empty'">Header default</mat-option>
      <mat-option [value]="'header-old'">Header old</mat-option>
    </mat-optgroup>
    <mat-optgroup label="TOP BANNER">
      <mat-option [value]="'empty'">Top banner 1</mat-option>
      <mat-option [value]="'top-banner-2'">Top banner 2</mat-option>
      <mat-option [value]="'top-banner-3'">Top banner 3</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Item tile">
      <mat-option [value]="'empty'">Item tile 1</mat-option>
      <mat-option [value]="'item-tile-2'">Item tile 2</mat-option>
      <mat-option [value]="'item-tile-3'">Item tile 3</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
