<mat-form-field appearance="fill">
  <mat-label>{{placeHolder}}</mat-label>
  <mat-select [(ngModel)]="templateName" (valueChange)="onChanged($event)">
    <mat-option [value]="null">Default</mat-option>
    <mat-optgroup label="CAMPUS">
      <mat-option [value]="'campus'">Campus</mat-option>
      <mat-option [value]="'png'">PNG</mat-option>
      <mat-option [value]="'lmi'">LMI</mat-option>
      <mat-option [value]="'risingstarcasino'">Rising Star Casino</mat-option>
      <mat-option [value]="'kernels'">Kernels</mat-option>
    </mat-optgroup>
    <mat-optgroup label="WHITE_LABELS">
      <mat-option [value]="'charlestons'">charlestons</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

