// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$browser-tacit-primary: mat.define-palette(mat.$indigo-palette);
$browser-tacit-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$browser-tacit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$browser-tacit-theme: mat.define-light-theme((color: (primary: $browser-tacit-primary,
        accent: $browser-tacit-accent,
        warn: $browser-tacit-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($browser-tacit-theme);

$blackFont: rgba(0, 0, 0, 0.87);
$midBlackFont: rgba(0, 0, 0, 0.6);
$lowBlackFont: rgba(0, 0, 0, 0.4);
$whiteFont: rgba(255, 255, 255, 0.87);
$midWhiteFont: rgba(255, 255, 255, 0.6);
$lowWhiteFont: rgba(255, 255, 255, 0.4);
$bgMain: #f1f1f1;
$bgCart: #333;


html {
  position: relative;
  min-height: 200px;
}

body {
  margin: 0;
  font-family: Roboto, “Helvetica Neue”, sans-serif;
  width: 780px;
  height: 600px !important;
  overflow-y: scroll;
  overflow-x: scroll;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-accordion {
  .mat-expansion-panel {
    border-radius: 0 !important;
    background-color: $bgCart;

    &.mat-expanded {
      background-color: $whiteFont;

      >.mat-expansion-panel-header {
        height: 48px;
        background-color: $bgMain;

        .mat-expansion-panel-header-title {
          color: $blackFont;
        }

        .mat-expansion-panel-header-description {
          color: $blackFont;
        }
      }
    }

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        flex-grow: 5;
        color: $whiteFont;
      }

      .mat-expansion-panel-header-description {
        justify-content: flex-end;
        flex-grow: 1;
        color: $whiteFont;
      }

      &[aria-disabled="true"] {
        .mat-expansion-panel-header-title {
          color: $lowBlackFont;
        }
  
        .mat-expansion-panel-header-description {
          color: $lowBlackFont;
        }
      }
    }


    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}